html, body {
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
	font-family:Courier New;

}



/*FOOTER*/
footer {
	text-align: justify;
	height: 340px;
	width: 100%;
	bottom: 0;
	font-weight: lighter;
	color: white;
	background-color: #383838;

}

.footerHeader {
	padding: 15px;
	background-color: #515151;
}

.footerrow {
	padding: 0px 40px 0px 40px;
}

h5 {
	text-align: center;
	font-size: 18pt;
	margin: 0px auto 20px auto;
}

.col {
	margin: 20px 10px 20px 10px;
	text-align:center;
}

.footerlist {
	list-style: none;	
	padding-left: 5px;

}
	
.footertext {
	font-size: 10pt;
}

.sm {
	list-style: none;
	overflow: auto;
}

.iconlist {
	display: inline;
	padding: 15px;
	float: left;
}

.img-responsive {
	width: 32px;
	margin:0;
	padding:0;
}

.container-fluid{
	padding:0;
	margin:0;
}


.parallax-window{
	height:800px;
	width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    margin:0;
}

.whitepage{
	background: linear-gradient(silver,white); 
	height:400px;

}

.pageone {
	background-color:#EFEFEF;
	background-image:url(img/bg8.png); 
	text-align:center;
}

.pagetwo {
	background-image:url(img/bg6.jpg);
}

.pagethree {
	background-image:url(img/bg7.jpg);
}

.jumbotron{
	background: linear-gradient(white, #eaeaea); 
	padding:10px;
}

.jumbotron1{
	margin-left:100px;
	margin-top:50px;
	height:50%;
	width:75%;
	border-style:;
}

.jumbotron2{
	margin-top:250px;
	margin-left:150px;
	height:50%;
	width:75%;
}

.textpageone{
	margin-top:200px;
}

.snow {
	height:600px;
}

#clock {
	width:500px;
	height:200px;
}

/* Michal */
.col.cal{
	padding: 0;
	height: 100px;
	background-color: #cce7ff;
	border: 1px solid black;
	text-align: center;
}
.col.cal.black{
	background-color: black;
	border: 1px solid #cce7ff;
	color: #cce7ff;
}
.col.cal.red{
	background-color: #e15d57;
}
/* Michal (end)*/

.title{
	margin-top: 150px;
	margin-bottom: 0px
	padding-bottom: 0px;
}

.calendar{
	margin: 0px;
	padding: 0px;
}
.firstRow{
	margin: 0px;
	padding: 0px;
}
.secondRow{
	margin: 0px;
	padding: 0px;
}
.thirdRow{
	margin: 0px;
	padding: 0px;
}

.recipes{
	background-color: rgba(255,0,0,0.8);
}

.recipes h4{
	font-weight: bold;
}

.recipes img{
	margin: 10px 0px;
}

.recipes p {
	text-align: center;
}

























