html, body {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}

.container-fluid{
	padding:0;
	margin:0;
}

.row {

}

.header{
	color:white;
	background-color:black;
	background: linear-gradient(black, #323533); 
	height:60px;
}

.parallax{
	height:800px;
	width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageone {
	background-image:url(img/bg1.jpg);
}

.pagetwo {
	background-image:url(img/bg2.jpg);
}

.pagethree {
	background-image:url(img/bg3.jpg);
}