/*
iframe {
	width: auto;
	height: auto;
	align-content: center;
}*/

h1 {
	text-align: center;
	padding-top: 20px;
}

.video {
	width: auto;
	height: auto;
    margin: 20px 10px 20px 10px;
	padding: 0px;
	display: inline-block;
}

.textvideo {
	text-align: justify;
	padding: 0px 100px 0px 100px;
}

.mariah {
	display: flex;
	display: inline-block;
}

.carousel {
	width: 70%;
	max-height: 300px;
}

.d-block {
	max-height: 550px;
	width: auto;
}

.pagetwo {
	max-height: 60%;
}

