.navbar {
	
}

.video {
	width: auto;
	height: auto;
	align-content: center;
	margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    top: 30%; 
}

.mariah {
	display: flex;
	align-content: center;
	text-align: center;
}

.carousel {
	width: 70%;
	max-height: 300px;
}

.d-block {
	max-height: 550px;
	width: auto;
}

.pagetwo {
	max-height: 60%;
}